@import url("./reset.css");

:root {
  /* Shapes */
  --var-platform-header: #17192d;

  /* Blue */
  --var-blue-500: #2188ff;
  --var-blue-900: #023b78;

  /* Neutral Colors */
  --var-white: #ffffff;

  /* Font */
  --var-font-text: sans-serif;
}

body {
  font-family: var(--var-font-text);
}
