@import url("./reset.css");

:root {
  /* Shapes */
  --var-platform-header: #17192d;
  --var-border-card: #d8dfe6;

  /* Blue */
  --var-blue-50: #f2f8ff;
  --var-blue-400: #55a6ff;
  --var-blue-500: #2188ff;
  --var-blue-900: #023b78;

  /* Neutral Colors */
  --var-white: #ffffff;
  --var-gray-150: #e3eaef;
  --var-gray-600: #77818c;

  /* Font */
  --var-font-text: sans-serif;

  /* Writing */
  --var-title: #24292f;
  --var-placeholder-disable: #c1c9d2;

  /* Conditional */
  --var-divider: #f0f0f0;

  /* Status */
  --var-alert: #ed3833;
  --var-ok: #52c41a;
}

body {
  font-family: var(--var-font-text);
  background-color: var(--var-gray-150);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

h1,
h2,
h3 {
  color: var(--var-title);
  font-weight: 600;
}
